In [11]:
import pandas as pd

df = pd.read_csv("../../../replication_package/gpt4_dataset/peta/gpt4_result_0_2500.csv")
df.groupby(['Prediction', 'Label']).size().reset_index()

   Prediction  Label     0
0           0      0  1732
1           1      0   767
2           1      1     1

In [13]:
import pandas as pd

df = pd.read_csv("../../../replication_package/gpt4_dataset/wala/gpt4_result_0_2500.csv")
df.groupby(['Prediction', 'Label']).size().reset_index()

   Prediction  Label     0
0           0      0  1047
1           0      1   155
2           1      0   973
3           1      1   326

   Prediction  Label     0
0           0      0  1047
1           0      1   155
2           1      0   973
3           1      1   326

   Prediction  Label   0
0           0      0  11
1           0      1  12
2           1      0  29
3           1      1  49

   Prediction  Label   0
0           0      0   8
1           0      1   5
2           1      0  32
3           1      1  56